!!!
/[if IE 9] <html class="ie9" lang="en" data-ready="waiting">
<!--[if gt IE 9]><!-->
%html{:lang => "en", "data-ready" => "waiting"}<>
	<!--<![endif]-->

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body

		#svgInject
			/ inject:svg
			/ endinject

		-# .takeover
			-# %p I'm takin' this bitch ova

		= Haml::Engine.new(File.read("dev/haml/partials/_html_nav.haml")).render

		%main{:role => "main"}

			= Haml::Engine.new(File.read("dev/haml/partials/_sec_home.haml")).render
			= Haml::Engine.new(File.read("dev/haml/partials/_sec_projects.haml")).render

		= Haml::Engine.new(File.read("dev/haml/partials/_doc_scripts.haml")).render