!!!
%html{:lang => 'en'}

	= Haml::Engine.new(File.read('dev/haml/_head.html.haml')).render

	%body

		:plain
			<!-- inject:svg --><!-- endinject -->

		%main{:role => 'main'}

			- @sections = ['Welcome', 'Preserve', 'BMC', 'Fringe', 'NA 2014', 'Arts Court', 'NA 2012', 'Pukeko', 'Chicken.ca', 'CFC', 'Bryston']

			- @sections.each_with_index do |section,index|
				%section{:class => 'section-#{index}'}
					%article
						%h1 #{index} &mdash; #{section}

			= Haml::Engine.new(File.read('dev/haml/_stats.html.haml')).render

			= Haml::Engine.new(File.read('dev/haml/_footer.html.haml')).render