---
import {pwaInfo} from 'virtual:pwa-info';

import '@styles/reset.css';
import '@styles/global.css';
import '@styles/utility.css';

import {TOAST_TMPL_ID} from '@data/app';
import Toast from '@components/Toast.astro';

// import ToastTest from '@mock/ToastTest.astro';

interface Props {
  id: string;
  title?: string;
}

const {id, title = 'Curtis Dulmage | UX Developer'} = Astro.props;

const DESCRIPTION = 'UX development portfolio for Curtis Dulmage';
const PERMALINK = new URL(Astro.url.pathname, Astro.site).href;
const OG_IMAGE = new URL('/assets/dulmage-social.png', Astro.site).href;
---

<!doctype html>
<html lang="en" data-current-index="0">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />

    <title>{title}</title>

    <!-- SEO meta -->
    <meta name="description" content={DESCRIPTION} />
    <meta
      name="keywords"
      content="Web, UX, Developer, Software, Design, Ottawa"
    />
    <meta name="generator" content={Astro.generator} />

    <!-- Web app meta -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="apple-mobile-web-app-title" content="Curtis Dulmage" />
    <meta name="format-detection" content="telephone=no" />

    <!-- iOS browser chrome looks better without this -->
    <!-- <meta name="theme-color" content="#8c54c1" /> -->

    <!-- Windows meta -->
    <!--
      <meta name="msapplication-TileImage" content="/icon-144x144.png">
      <meta name="msapplication-TileColor" content="#8c54c1">
    -->

    <!-- Favicons (see: https://vite-pwa-org.netlify.app/assets-generator) -->
    <!-- <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml"> -->
    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <link rel="icon" href="/favicon.png" sizes="any" type="image/png" />
    <!-- Workaround for `@vite-pwa/assets-generator` adding a thick white border -->
    <link
      rel="apple-touch-icon"
      href="/custom-pwa/apple-touch-icon-180x180.png"
    />

    <!-- Open Graph meta -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="dulmage.me" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={DESCRIPTION} />
    <meta property="og:image" content={OG_IMAGE} />
    <meta property="og:url" content={PERMALINK} />

    <!-- Twitter meta -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" content="@beefchimi" />
    <meta property="twitter:account_id" content="358226505" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={DESCRIPTION} />
    <meta property="twitter:image" content={OG_IMAGE} />

    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}

    <!-- Google tag (gtag.js) -->
    <script
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-4G2VKG5NK2"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      if (window.location.hostname !== 'localhost') {
        gtag('js', new Date());
        gtag('config', 'G-4G2VKG5NK2');
      }
    </script>
  </head>

  <body id={id}>
    <slot />

    <template id={TOAST_TMPL_ID}>
      <Toast id="ToastPlaceholder" />
    </template>
  </body>
</html>

<style>
  /*
    Horizontal centering is required for Toast components.
    `display grid / justify-items` does not work correctly in Safari.
  */
  body {
    display: flex;
    justify-content: center;
  }
</style>

<script>
  import {PwaServiceWorker} from '@scripts/PwaServiceWorker';

  if ('serviceWorker' in navigator) {
    window.addEventListener('load', PwaServiceWorker.install);
  }

  // TODO: Decide if we want to leverage `readystate` for our
  // page load animation.

  /*
    document.onreadystatechange = () => {
      if (document.readyState === "complete") {
        initApplication();
      }
    };
  */
</script>
